.category-item {
  padding: 0.5em;
  border-bottom: 1px dotted COLOR-7;
  transition: transform 0.2s, color 0.2s, -webkit-transform 0.2s;
}
.category-item:hover {
  transform: translateX(2px);
}
.category-item .post-date {
  float: right;
}
.category-item .category-title {
  overflow: hidden;
  width: 65%;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category-item .category-title:hover {
  border: none;
}
.categories ul {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .categories h1 {
    text-align: center;
  }
}
