.posts .post-title {
  margin-top: 0;
  text-align: left;
}
.posts .post-title .post-title-link {
  display: inline-block;
  margin-bottom: 5px;
  border: none;
  text-decoration: none;
  color: COLOR-9;
  transition: color 0.3s ease;
}
.posts .post-title .post-title-link:after {
  content: '';
  display: block;
  margin-top: 2px;
  height: 2px;
  background: transparent;
  transition: height 0.25s cubic-bezier(0, 0, 0.2, 1), background-color 0.25s cubic-bezier(0, 0, 0.2, 1);
}
.posts .post-title .post-title-link:hover:after {
  height: 2px;
  background: #000;
}
.posts .post-meta {
  color: COLOR-7;
}
.posts .post-meta a {
  text-decoration: none;
  color: COLOR-7;
}
.posts .article-tag-link {
  margin: 0 6px;
  padding: 2px 0;
}
.posts .article-tag-link:hover {
  color: COLOR-9;
}
.posts .post-content {
  padding: 1em 0;
}
.posts a.btn {
  display: inline-block;
  margin: auto;
  padding: 0 20px;
  border: 2px solid COLOR-7;
  text-decoration: none;
  background: COLOR-0;
  color: COLOR-7;
  transition: 0.25s ease-in-out;
}
.posts a.btn:hover {
  border-color: COLOR-9;
  color: COLOR-0;
  background: COLOR-9;
}
.posts a.btn:after {
  content: " »";
}
.posts article {
  position: relative;
  padding-top: 1em;
  padding-bottom: 3em;
  border-bottom: 1px solid COLOR-3;
}
.posts article:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  display: block;
  width: 7px;
  height: 7px;
  margin-left: -5px;
  border: 1px solid COLOR-3;
  border-radius: 100%;
  background: COLOR-0;
  box-shadow: COLOR-0 0 0 0 5px;
}
.posts article:last-child {
  border-bottom: 0;
}
.posts article:last-child:after {
  display: none;
}
@media screen and (max-width: 768px) {
  .post .post-title,
  .post .post-meta,
  .post .continue {
    text-align: center;
  }
}
