.post-detail .article-tag-link {
  margin: 0 6px;
  padding: 2px 0;
}
.post-detail .post-content {
  padding: 1em 0;
}
.post-detail .post-title,
.post-detail .post-meta {
  text-align: center;
}
.post-detail h2:hover:after,
.post-detail h3:hover:after {
  content: " ¶";
  margin-right: 0.5em;
  color: COLOR-7;
}
.post-detail .toc-title {
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid COLOR-3;
}
.post-detail .toc-article {
  float: right;
  margin-top: 1.5em;
  margin-left: 1em;
  padding: 1em;
  border: 1px solid COLOR-7;
}
.post-detail .toc-article ol {
  list-style: none;
}
.post-detail .toc-article .toc-link {
  border: none;
}
.post-detail .toc-article .toc-link:hover {
  border: none;
}
.post-detail .toc-article>ol {
  margin: 0;
}
a.top {
  position: fixed;
  right: 2rem;
  bottom: 0;
  display: block;
  width: 40px;
  height: 40px;
  border-bottom: none;
  border-radius: 3px;
  text-align: center;
  background-color: COLOR-7;
  opacity: 0;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
a.top:hover {
  border-bottom: none;
}
a.top:after {
  content: '';
  display: inline-block;
  margin-top: 14px;
  width: 14px;
  height: 14px;
  border-top: 4px solid COLOR-3;
  border-right: 4px solid COLOR-3;
  transform: rotate(-45deg);
}
a.toggle {
  bottom: 99px;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .post-detail .toc-article {
    float: none;
    margin: 0;
  }
}
